<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<!-- element -->
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/elementui/theme-chalk/index.css">
<!-- bootstrap -->
<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
<!-- font-awesome -->
<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
<!-- layui -->
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/layer/theme/default/layer.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
<!-- jqgrid -->
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<!-- ztree -->
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/ztree/css/metroStyle/metroStyle.css">
<!-- main -->
<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">
<!-- selectPage -->
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/selectPage/selectpage.css">

<!-- css/js divide line-->

<!-- vue -->
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<!-- element -->
<script src="${request.contextPath}/statics/plugins/elementui/index.js"></script>
<!-- jquery -->
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<!-- bootstrap -->
<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
<!-- layui -->
<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
<script src="${request.contextPath}/statics/plugins/layui/layui.js"></script>
<!-- jqgrid -->
<script src="${request.contextPath}/statics/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<!-- ztree -->
<script src="${request.contextPath}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<!-- common -->
<script src="${request.contextPath}/statics/js/common.js"></script>
<!-- selectPage -->
<script src="${request.contextPath}/statics/plugins/selectPage/selectpage.js"></script>
<script src="${request.contextPath}/statics/plugins/vSelectPage/v-selectpage.js"></script>
<!-- aliyun-sdk-js -->
<script type="text/javascript" src="${request.contextPath}/statics/plugins/aliyun-sdk-js/aliyun-sdk.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/aliyun-sdk-js/aliyun-oss-sdk-4.4.4.min.js"></script>
<!-- aliyun-sdk-js2 -->
<script type="text/javascript" src="${request.contextPath}/statics/plugins/oss-h5-upload-js-direct/lib/crypto1/crypto/crypto.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/oss-h5-upload-js-direct/lib/crypto1/hmac/hmac.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/oss-h5-upload-js-direct/lib/crypto1/sha1/sha1.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/oss-h5-upload-js-direct/lib/base64.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/oss-h5-upload-js-direct/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/oss-h5-upload-js-direct/upload.js"></script>
<!-- cutie.qiniu -->
<script src="${request.contextPath}/statics/plugins/qiniu/upload.cutie.js"></script>

