<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
    <#include "/header.html"/>
</head>
<body>
<div id="rrapp" v-cloak style="overflow: auto">
    <el-container style="min-width: 950px">
        <!--        <el-header>主页</el-header>-->
        <el-main>
            <div style="font-size: 50px; height: 220px">
                <el-row :gutter="30">
                    <el-col span="12">
                        <el-card class="box-card" :body-style="{height: '220px'}">
                            <el-row :gutter="100">
                                <el-col span="8"><img style="width: 140px"
                                                      :src="user.avatarUrl"/>
                                </el-col>
                                <el-col span="16">
                                    <el-row style="font-size: 30px">欢迎您！{{ user.realname }}</el-row>
                                    <hr/>
                                    <el-row style="font-size: 23px">所属小区：{{ user.zoneName }}</el-row>
                                    <el-row style="font-size: 23px">小区角色：{{ user.roleName }}</el-row>
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                    <el-col span="12" style="text-align: center;font-size: 40px;">
                        <el-card class="box-card" :body-style="{height: '220px', padding: '30px'}">
                            <el-row>
                                <img :src="weaImgUrl" alt="">
                                {{ wData.tem }}℃ {{ wData.wea }}
                            </el-row>
                            <el-row>
                                {{ dt }} {{ wData.city }}
                            </el-row>
                        </el-card>
                    </el-col>
                </el-row>
            </div>
            <div style="margin-top: 20px; font-size: 40px">
                <el-row :gutter="30">
                    <el-col span="6">
                        <el-card class="box-card" style="background-color: #00c0ef; color: white;font-size: 25px"
                                 @click.native="linkTo('用章申请','modules/operation/request.html')">
                            <img style="width: 40px" src="${request.contextPath}/statics/images/request.png"/>
                            用章申请
                        </el-card>
                    </el-col>
                    <el-col span="6">
                        <el-card class="box-card" style="background-color: #FCC05A; color: white;font-size: 25px"
                                 @click.native="linkTo('事项表决','modules/operation/vote.html')">
                            <img style="width: 40px" src="${request.contextPath}/statics/images/vote.png"/>
                            事项表决
                        </el-card>
                    </el-col>
                    <el-col span="6">
                        <el-card class="box-card" style="background-color: #FF8497; color: white;font-size: 25px"
                                 @click.native="linkTo('业委会议','modules/operation/meeting.html')">
                            &nbsp;<img style="width: 40px" src="${request.contextPath}/statics/images/meet.png"/>
                            &nbsp;业委会议
                        </el-card>
                    </el-col>
                    <el-col span="6">
                        <el-card class="box-card" style="background-color: #B08FFF; color: white;font-size: 25px"
                                 @click.native="linkTo('费用报销','modules/operation/bill.html')">
                            <img style="width: 40px" src="${request.contextPath}/statics/images/bill.png"/>
                            费用报销
                        </el-card>
                    </el-col>
                </el-row>
            </div>
            <div style="margin-top: 20px">
                <el-row :gutter="30">
                    <el-col span="7">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span style="font-size: 18px; color: #00c0ef">𝅛 人员列表</span>
                            </div>
                            <div>
                                <el-table :data="userList" style="width: 100%; margin-top: -20px">
                                    <el-table-column prop="realname" label="姓名"></el-table-column>
                                    <el-table-column prop="zoneName" label="小区"></el-table-column>
                                    <el-table-column prop="roleName" label="角色"></el-table-column>
                                </el-table>
                                <el-pagination
                                        style="float: right"
                                        @size-change="handleSizeChange"
                                        @current-change="handleCurrentChange"
                                        :current-page="currentPage"
                                        :page-sizes="[5]"
                                        :page-size="pageSize"
                                        layout="prev, pager, next, jumper"
                                        :total="total">
                                </el-pagination>
                            </div>
                        </el-card>
                    </el-col>
                    <el-col span="7" style="display: flex;flex-direction: column;">
                        <div>
                            <el-card class="box-card" :body-style="{height: '320px'}">
                                <div slot="header" class="clearfix">
                                    <span style="font-size: 18px; color: #A9D07A;">𝅛 收支报表</span>
                                </div>
                                <div style="text-align: center; margin-top: 70px" @click="hasClick">
                                    <u style="font-size: 22px; color: #A9D07A; text-decoration: none;">月度结余<br/>{{blance.blance}}</u>
                                </div>
                            </el-card>
                        </div>
                        <div>
                            <el-card class="box-card" :body-style="{height: '320px'}">
                                <div slot="header" class="clearfix">
                                    <span style="font-size: 18px; color: #FCC05A">𝅛 小区邀请码</span>
                                </div>
                                <div style="text-align: center; margin-top: 70px">
                                    <u style="font-size: 30px; color: #FCC05A;">{{ user.zoneInviteCode }}</u>
                                </div>
                            </el-card>
                        </div>
                        
                    </el-col>
                    <el-col span="16">
                        我的数据
                    </el-col>
                </el-row>
            </div>
        </el-main>

        <!--        <el-footer>Nothing</el-footer>-->
    </el-container>
</div>

<script src="${request.contextPath}/statics/js/mainPage.js"></script>
</body>
</html>

<!--<style>-->
<!--    .el-header, .el-footer {-->
<!--        background-color: #B3C0D1;-->
<!--        color: #333;-->
<!--        text-align: center;-->
<!--        line-height: 60px;-->
<!--    }-->

<!--    .el-aside {-->
<!--        background-color: #D3DCE6;-->
<!--        color: #333;-->
<!--        text-align: center;-->
<!--        line-height: 200px;-->
<!--    }-->

<!--    .el-main {-->
<!--        background-color: #E9EEF3;-->
<!--        color: #333;-->
<!--        text-align: center;-->
<!--        line-height: 160px;-->
<!--    }-->

<!--    body > .el-container {-->
<!--        margin-bottom: 40px;-->
<!--    }-->

<!--    .el-container:nth-child(5) .el-aside,-->
<!--    .el-container:nth-child(6) .el-aside {-->
<!--        line-height: 260px;-->
<!--    }-->

<!--    .el-container:nth-child(7) .el-aside {-->
<!--        line-height: 320px;-->
<!--    }-->
<!--</style>-->