<!DOCTYPE html>
<html>
<head>
    <title>来往函件表</title>
		<#include "/header.html"/>

    <style>
        /* 和bootstrap样式冲突*/
        .el-upload__input {
            display: none!important;
        }
        .upload-tip {
            color:red;
            font-size:14px;
            font-weight:700;
        }
    </style>

</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <div class="col-sm-2 control-label">小区</div>
                <div class="col-sm-10">
                    <el-select v-model="q.zoneId" placeholder="请选择" clearable filterable>
                        <el-option v-for="item in zonesOptions" :key="item.id" :label="item.name" :value="item.id"></el-option>
                    </el-select>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.keyword" @keyup.enter="query" placeholder="标题/发起人">
            </div>
            <a class="btn btn-default" @click="query">查询</a>

			<#if shiro.hasPermission("operation:paper:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("operation:paper:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("operation:paper:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
            <#if shiro.hasPermission("operation:paper:hide")>
            <a class="btn btn-primary" @click="hide"><i class="fa fa-trash-o"></i>隐藏</a>
            </#if>
            <#if shiro.hasPermission("operation:paper:recovery")>
            <a class="btn btn-primary" @click="recovery"><i class="fa fa-trash-o"></i>恢复</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <!--<div class="form-group">
            <div class="col-sm-2 control-label">创建时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="paper.createTime" placeholder="创建时间" readonly/>
            </div>
        </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">更新时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="paper.updateTime" placeholder="更新时间" readonly  />
                </div>
            </div>-->
            <!--<div class="form-group">
                <div class="col-sm-2 control-label">小区</div>
                <div class="col-sm-10">
                    &lt;!&ndash;<input type="text" class="form-control" v-model="paper.zoneId" placeholder="小区id"/>&ndash;&gt;
                    <el-select v-model="paper.zoneId" placeholder="请选择" clearable filterable disabled>
                        <el-option v-for="item in zonesOptions" :key="item.id" :label="item.name" :value="item.id"></el-option>
                    </el-select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">发函人id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="paper.uid" placeholder="发函人id" readonly/>
                </div>
            </div>-->
            <div class="form-group" v-if="viewMode">
                <div class="col-sm-2 control-label">发起人</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="paper.realname" placeholder="发起人" readonly/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">函件标题</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="paper.title" placeholder="请输入标题"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">函件内容</div>
                <div class="col-sm-10">
                    <textarea placeholder="请输入函件内容（选填）" class="form-control" v-model="paper.content"></textarea>

<!--                    <input type="text" class="form-control" v-model="paper.content" placeholder="请输入函件内容（选填）"/>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">附件</div>
                <div class="col-sm-10">
                    <el-upload
                            action="../../sys/oss/upload"
                            :on-preview="handlePictureCardPreview"
                            :on-remove="handleRemove"
                            :on-success="handleSuccess"
                            :on-progress="handleProgress"
                            :before-upload="handleBeforeUpload"
                            :file-list="paper.fileList"
                            :limit=9
                            accept=".doc, .docx, .ppt, .pptx, .xls, .xlsx, .pdf, image/jpeg,image/jpg,image/png"
                            list-type="picture">
                        <el-button size="small" type="primary">点击上传</el-button>
                        <div slot="tip" class="el-upload__tip">*支持图片,word,excel,ppt,pdf，最大不超过2M，最多上传9个文件
                            <p class="upload-tip">请耐心等待，完成上传后再进行下一步操作</p>
                        </div>
                    </el-upload>
                    <el-dialog :visible.sync="dialogVisible" :before-close="closeDialog">
                        <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">收件人</div>
                <div class="col-sm-10">
                    <li v-for="(value, key, index) in paper.paperMemberEntityList" style="float:left; padding-right:10px; padding-bottom: 5px;">
                        <el-tag type="info" @close="handleClose3(value.uid)" :key="value.uid" closable>{{ value.realname }}</el-tag><!--【{{ value.mobile }}】-->
                    </li>
                </div>
                <button class="btn btn-primary" type="button" @click="getCourier2">选择</button>
            </div>


            <!--<div class="form-group">
                <div class="col-sm-2 control-label">需要签收人数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="paper.total" placeholder="需要签收人数" readonly/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">已经签收人数</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="paper.checked" placeholder="已经签收人数" readonly/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">状态</div>
                <div class="col-sm-10">
                    &lt;!&ndash;<input type="text" class="form-control" v-model="paper.status" placeholder="状态 0未签收1已签收"/>&ndash;&gt;
                    <el-select v-model="paper.status" placeholder="请选择" filterable disabled>
                        <el-option v-for="item in statusOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </div>
            </div>-->

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" v-if="!viewMode" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <p class="upload-tip">请在附件上传100%后再点击“确定”</p>
                </div>
            </div>
        </form>
    </div>

    <!--业委会成员抄送绑定-->
    <div class="modal fade" id="courierModal2" tabindex="-1" role="basic">
        <div class="modal-dialog" role="document" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <strong style="font-size: 15px;">业委会成员选择</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form action="" method="post" id="commonForm2">
                            <div class="form-group">
                                <label class="control-label">业委会成员选择搜索：</label>
                                <div class="form-group col-sm-2">
                                    <div class="col-sm-2 control-label">小区</div>
                                    <div class="col-sm-10">
                                        <el-select v-model="courierQuery.zoneId" placeholder="请选择" clearable filterable>
                                            <el-option v-for="item in zonesOptions" :key="item.id" :label="item.name" :value="item.id"></el-option>
                                        </el-select>
                                    </div>
                                </div>
                                <input name="keyword" type="text" class="form-control" style="display: inline-block;width: 20%;" v-model="courierQuery.keyword" placeholder="用户姓名/手机号">
                                <a class="btn btn-primary btn-sm" style="margin-left:5px;" @click="reloadCourierGrid2">
                                    <i class="fa fa-search"></i>&nbsp;<span>搜索</span>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="jqGrid_wrapper">
                            <table id="courierModalGrid2"></table>
                            <div id="courierModalPager2"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="utton" class="btn btn-primary" @click="selectcCourier2">确定</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="${request.contextPath}/statics/js/modules/operation/paper.js?_${.now?long}"></script>
</body>
</html>