<!DOCTYPE html>
<html>
<head>
    <title>任务人员表</title>
		<#include "/header.html"/>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("operation:taskmember:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("operation:taskmember:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("operation:taskmember:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">创建时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="taskMember.createTime" placeholder="创建时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">更新时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="taskMember.updateTime" placeholder="更新时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">任务id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="taskMember.tid" placeholder="任务id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">执行用户id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="taskMember.uid" placeholder="执行用户id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">发任务用户id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="taskMember.referUid" placeholder="发任务用户id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">状态 1未完成 2已完成</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="taskMember.status" placeholder="状态 1未完成 2已完成"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/operation/taskmember.js?_${.now?long}"></script>
</body>
</html>