<!DOCTYPE html>
<html>
<head>
    <title>表决成员表</title>
		<#include "/header.html"/>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("operation:votemember:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("operation:votemember:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("operation:votemember:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">创建时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.createTime" placeholder="创建时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">更新时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.updateTime" placeholder="更新时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">表决id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.vid" placeholder="表决id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">参与表决用户id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.uid" placeholder="参与表决用户id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">发起人id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.referUid" placeholder="发起人id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">类型 1表决 2抄送</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.type" placeholder="类型 1表决 2抄送"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">状态 1同意 2反对 3弃权 4超时</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.status" placeholder="状态 1同意 2反对 3弃权 4超时"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">支持选项1</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.item1" placeholder="支持选项1"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">支持选项2</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.item2" placeholder="支持选项2"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">支持选项3</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.item3" placeholder="支持选项3"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">都不同意</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.item4" placeholder="都不同意"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.remark" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">表决时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="voteMember.voteTime" placeholder="表决时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/operation/votemember.js?_${.now?long}"></script>
</body>
</html>