<!DOCTYPE html>
<html>
<head>
    <title>业委会用户</title>
    <#include "/header.html"/>
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/data.css">
</head>
<body>
<div id="rrapp" v-cloak>
    <div style="font-size: 22px;font-weight: 600;margin: 15px 0;" title="">履职数据
<img src="../../../statics/images/ask.svg" alt="" title="履职数据计算标准：



任务类选择的时间为创建时间

表决，用章，以截止时间作为完成标准

会议以签字时间结束后（看代码逻辑）天作为完成标准

报销以全部结束时间作为完成标准

发函为全部审批结束作为完成标准"></div>
    <div>
        <div class="inlinde-block">
            <el-date-picker
                    v-model="time"
                    type="daterange"
                    align="right"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    :picker-options="pickerOptions">
            </el-date-picker>
        </div>
        <div class="inlinde-block">
            <div class="inlinde-block">区域:</div>
            <el-select v-model="optionActive" clearable placeholder="请选择">
                <el-option
                        v-for="item in options"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                </el-option>
            </el-select>
        </div>
        <a class="btn btn-primary" @click="add">&nbsp;查看</a>
    </div>
    <div>
        <el-tabs class="margin30" type="border-card" value="履职量"  @tab-click="handleTabs">
            <el-tab-pane disabled>
                <span slot="label">操作性任务</span>
            </el-tab-pane>
            <el-tab-pane v-for="it in tabberListOne" :key="it.id" :name="it.name">
                <span slot="label">{{it.name}}</span>
                <div class="flex">
                    <!-- <div class="left" v-if="tabOneList.realname"> -->
                        <div class="left" >
                        <div>
                            <img class="header" v-if="tabOneList.realname" :src="tabOneList.avatarUrl" alt="">
                            <span class="name">{{tabOneList.realname||''}}</span>
                        </div>
                        <div class="title">{{it.name}}</div>
                        <div class="num" v-if="tabOneList.realname">{{(it.name=='履职率'||it.name=='逾期率')?tabOneList.proportion?(parseInt(tabOneList.proportion*100)+'%'):0+'%':tabOneList.num}}</div>
                        <div class="num" v-else>0</div>
                        <div class="title">您的排名</div>
                        <div class="num">{{tabOneList.ranking||0}}</div>
                    </div>
                    <!-- <div v-else class="left">
                        <div class="num">无数据</div>
                    </div> -->
                    <div class="right">
                        <ul class="infinite-list" style="overflow:auto">
                            <li v-for="(i,index) in tabOneList.listData" :key="index" class="infinite-list-item">
                                <img class="first" src="../../../statics/images/1.jpg" v-if="index===0" alt="">
                                <img class="second" src="../../../statics/images/2.jpg" v-if="index===1" alt="">
                                <img class="second" src="../../../statics/images/3.jpg" v-if="index===2" alt="">
                                <span class="index" v-if="index>2">{{index+1}}</span>
                                <img class="header" :src="i.avatarUrl" alt="">
                                <span class="name">{{i.realname}}</span>
                                <span class="num">{{it.name}}: {{(it.name=='履职率'||it.name=='逾期率')?(parseInt(i.proportion*100)+'%'):i.num}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>
        <el-tabs class="margin30" type="border-card" value="完成量"  @tab-click="handleTabsTwo">
            <el-tab-pane disabled>
                <span slot="label">浏览性任务</span>
            </el-tab-pane>
            <el-tab-pane v-for="it in tabberListTwo" :key="it.id" :name="it.name">
                <span slot="label">{{it.name}}</span>
                <div class="flex">
                    <!-- <div class="left" v-if="tabTwoList.realname"> -->
                        <div class="left" >
                            <div>
                                <img class="header" v-if="tabTwoList.realname" :src="tabTwoList.avatarUrl" alt="">
                                <span class="name">{{tabTwoList.realname||''}}</span>
                            </div>
                            <div class="title">{{it.name}}</div>
                            <div class="num">{{tabTwoList.num||0}}</div>
                            <div class="title">您的排名</div>
                            <div class="num">{{tabTwoList.ranking||0}}</div>
                        </div>
                    <!-- </div> -->
                    <!-- <div v-else class="left">
                        <div class="num">无数据</div>
                    </div> -->
                    <div class="right">
                        <ul class="infinite-list" style="overflow:auto">
                            <li v-for="(i,index) in tabTwoList.listData" :key="index" class="infinite-list-item">
                                <img class="first" src="../../../statics/images/1.jpg" v-if="index===0" alt="">
                                <img class="second" src="../../../statics/images/2.jpg" v-if="index===1" alt="">
                                <img class="second" src="../../../statics/images/3.jpg" v-if="index===2" alt="">
                                <span class="index" v-if="index>2">{{index+1}}</span>
                                <img class="header" :src="i.avatarUrl" alt="">
                                <span class="name">{{i.realname}}</span>
                                <span class="num">{{it.name}}: {{i.num}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>
        <el-tabs class="margin30" type="border-card" value="在线时长"  @tab-click="handleTabsThree">
            <el-tab-pane disabled>
                <span slot="label">通用任务</span>
            </el-tab-pane>
            <el-tab-pane v-for="it in tabberListThree" :key="it.id" :name="it.name">
                <span slot="label">{{it.name}}</span>
                <div class="flex">
                    <!-- <div class="left" v-if="tabThreeList.realname"> -->
                        <div class="left">
                            <div>
                                <img class="header" v-if="tabThreeList.avatarUrl" :src="tabThreeList.avatarUrl" alt="">
                                <span class="name">{{tabThreeList.realname||''}}</span>
                            </div>
                            <div class="title">{{it.name}}</div>
                            <div class="num">{{it.name=='在线时长'?(tabThreeList.num||0)+'min':(tabThreeList.num||0)}}</div>
                            <div class="title">您的排名</div>
                            <div class="num">{{tabThreeList.ranking||0}}</div>
                        </div>
                    <!-- </div> -->
                    <!-- <div v-else class="left">
                        <div class="num">无数据</div>
                    </div> -->
                    <div class="right">
                        <ul class="infinite-list" style="overflow:auto">
                            <li v-for="(i,index) in tabThreeList.listData" :key="index" class="infinite-list-item">
                                <img class="first" src="../../../statics/images/1.jpg" v-if="index===0" alt="">
                                <img class="second" src="../../../statics/images/2.jpg" v-if="index===1" alt="">
                                <img class="second" src="../../../statics/images/3.jpg" v-if="index===2" alt="">
                                <span class="index" v-if="index>2">{{index+1}}</span>
                                <img class="header" :src="i.avatarUrl" alt="">
                                <span class="name">{{i.realname}}</span>
                                <span class="num">{{it.name}}: {{it.name=='在线时长'?(i.num||0)+'min':(i.num||0)}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>

</div>

<script src="${request.contextPath}/statics/js/data.js?_${.now?long}"></script>
</body>
</html>