<!DOCTYPE html>
<html>
<head>
    <title>版本信息</title>

    <style>
    </style>

</head>
<body>
<div>
    <div>
        <div>
            版本信息
        </div>
        <div>
            <div>
                当前版本:3.1.0<br/>
                更新时间:2020-10-20<br/>
                <br/>
                <div>本次更新内容:</div> <br/>
                <div>
                    1.上线数据排名功能,所在排名一目了然<br/>
                    2.更新新任务提醒,再也不怕忘记做任务了<br/>
                    3.新增小区邀请码复制功能<br/>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>